body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    padding: 20px;
}

section {
    margin: 50px 0;
}

section h2 {
    margin-bottom: 10px;
}
