body {
    font-family: Arial, sans-serif;
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-section {
    border-bottom: 1px solid #c8bcbc;
}

.accordion-header {
    background-color: #ffcece;
    cursor: pointer;
    padding: 15px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #11aabf;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fff7f7;
}
